@font-face{
    font-family: 'Raleway';
src: url('Raleway-VariableFont_wght.ttf')
}

@font-face{
    font-family: 'Raleway Bold';
src: url('Raleway-ExtraBold.ttf')
}
/* Version PC*/

/*Aussi bien sur laptop que desktop*/
footer{
    height: 219px;
}

header{
    height: 100px;
}

/* Global, s'applique de la même façon sur toute la page */

*{
    font-family: 'Raleway',sans-serif;
}
ul {
    list-style-type: none;
}

/*liens dans la page*/
a {
    color :black;
    text-decoration: none;
}

a:hover{
    color: #0065FC;
}


body{
    margin: 0 0 0 0;
}


/* Header */
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

nav li{
    margin-right: 15px; /*pas bon*/
}

/*Centre*/

#centre{
    margin-left: 50px;
    margin-right: 50px;
}

#main_title{
    font-family: 'Raleway Bold', sans-serif;
    margin-bottom: 10px;
}

#centre h3{
    margin-top: none;
}

/*Recherche par ville */
#barre_recherche{
    display: flex;
    height: 50px;
    margin-bottom: 30px;
    margin-top: 15px;
}

#location_icon{
    padding-left:20px;
    padding-right:20px;
    border-radius: 10px 0 0 10px;
    background-color: #F2F2F2;
    padding-top: 15px;  
}

#barre_recherche input{
    font-weight: bold;
    padding-left: 15px;
    height: 45px;
    border-left: none;
    border-right: none;
    border-color: 1px #F2F2F2 solid;
    border-top: 1px #F2F2F2 solid;
}

#barre_recherche button{ 
    color:white;
    background-color: #0065FC;
    border-radius: 0 10px 10px 0;
    border-style: none;
    font-weight: bold;
    padding-left:20px;
    padding-right:15px;
}

/*Recherche par filtre*/
#filtre_wrap{
    display: flex;
    font-weight:bold;
}

#filtre_title{
    margin-right:30px;
}

.filtre{
    height: 50px;
    border-radius:30px;
    border: 3px solid #F2F2F2;
    border-left: none;
    margin-right: 20px; /*PC*/
    display: flex;
}

.filtre:hover{
    background-color: #0065FC;
    color: white;
    font-weight: bolder; /*probablement pas la bonne police*/
}

.filtre a{
    display: flex;
}


.round_blue_bck{
    background-color: #DEEBFF;
    color: #0065FC;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 25px;
}

.filtre p{
    padding-left: 15px;
    padding-right: 20px;
}

/*Logements dispo dans cette ville */
#info{
    display: flex;
    margin-bottom: 40px;
}

#info_round{  /*Border radius ???*/
    border: 1px solid #F2F2F2;
    margin-right: 10px;
    color: #0065FC;
}
/*Section où sont présentés les hébergements*/
#hebergement{
    display: flex;
}

#hbgtspop{
    background-color: #F2F2F2;
    padding-left: 40px; /*PC*/
    padding-top:20px;
    border-radius: 20px;
    height: 625px;
    width:61%;
}

#heberg_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

.single_heberg_box{
    height: 200px; /* PC ET MOBILES*/
    width: 27%;/* PC - 320 sur mobiles*/
    background-color: white;
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 5px 10px 5px rgb(220,220,220) ;
}

/*IL Y A UN TRUC A CHANGER LA*/
.img_hbg{
    margin-top:5px;
    margin-bottom: 0;
    text-align: center;
}

.single_heberg_box img{
    height:115px;
    width:95%; /*Pas trouvé autre mais ce n'est pas la bonne façon de faire*/
    margin: auto;
    border-radius: 20px 20px 0 0;
}
/*JUSTQUE LA*/

.text_heberg_box{
    padding-left: 15px;
    height: 80px;
}

.text_heberg_box p, h3, h4{ /*h3 à enlever potentiellement car inutilisé*/
    margin-top: 0;
    margin-bottom: 5px;
}
.texte_gras{
    font-weight: bold;
}

.blue_star{
    color: #0065FC;
}

.grey_star{
    color: rgb(220,220,220);
}

/*Partie Droite*/
#mostpop{
    padding-top:20px; /*PC*/
    margin-left: 40px;
    padding-left:40px;
    width: 29%;
    background-color: #F2F2F2;
    border-radius: 20px;
}
/*Footer*/
footer{
    width: 100%;
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

footer ul{
    list-style-type: none;
    padding-left: 0;
}

footer li{
    padding-bottom: 15px;
}

.footer_sous_liste{
    padding-top:50px;
}

