@font-face{
    font-family: 'Raleway';
src: url('fonts/Raleway-VariableFont_wght.ttf')
}

@font-face{
    font-family: 'Raleway Bold';
src: url('fonts/Raleway-ExtraBold.ttf')
}
/*Paramètres pour toutes les spécifications*/
*{
    font-family: 'Raleway',sans-serif;
}

body{
    margin:0;
}

ul {
    list-style-type: none;
}

img{
    object-fit: cover;
}

a {
    color :black;
    text-decoration: none;
}

a:hover{
    color: #0065FC;
}

p{
    font-size: 0.9em;
}

/* Header */
header{
    height:135px; /*ok sur PC ET MOBILES*/
}


/*adapter ça en version mobile maintenant*/
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}


#inscription a{
    font-family: 'Raleway Bold';
    color: #0065FC;
}

/*recherche*/
#barre_recherche{
    display: flex;
    height: 50px;
    margin-bottom: 30px;
    margin-top: 15px;
}

/*Filtres*/
#filtre_wrap{
    display: flex;
    font-weight:bold;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 40px;
}

.filtre p{
    font-size: 1em;
}

.filtre{
    height: 50px;
    border-radius:30px;
    border: 3px solid #F2F2F2;
    border-left: none;
    margin-right: 20px; /*PC*/
    display: flex;

}

/*Section où sont présentés les hébergements*/
#hebergement{
    display: flex;
    justify-content: space-between;
    height:625px;
    width:100%
}

#heberg_box{ /*colonne sur tél*/
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.single_heberg_box{
    height: 200px; 
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 15px rgb(220,220,220);
}

#show_more{
    font-weight: bold;
}

#mostpop{
    background-color: #F2F2F2;
}

#mostpop_boxwrap{
    display: flex;
    flex-direction: column;
    margin-top:25px;
}

#most_pop_title{
    display: flex;
    justify-content: space-between;
    align-items:baseline;
}

.mostpop_box{
    display: flex;
    height: 145px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 15px rgb(220,220,220);
    margin-bottom: 30px;
}

.mostpop_box a{
    display: flex;
    width: 100%;
}

.mostpop_img{
    height:135px;
    margin:0;
    padding: 5px 0 5px 5px;
    min-width:40%;
    width:40%;
}

/*Activité général*/
#act_box_wrap{
    display: flex;
    margin-bottom: 60px;
    justify-content: space-between;
}

.act_big_box{
    width: 22%;
    box-shadow: 0 0 15px rgb(220,220,220);
}

.act_big_box img{
    height: 385px;
}


.act_small_box_wrap img{
    border-radius: 20px;
}

#act_smallbox_large{
    height: 235px;
    box-shadow: 0 0 15px rgb(220,220,220);
}

#act_smallbox_large img{
    height:175px;
}

#act_smallbox_small{
    height: 165px;
    box-shadow: 0 0 15px rgb(220,220,220);
}

#act_smallbox_small img{
    height:105px;
}

#act_smallbox_medium{
    height: 195px;;
    box-shadow: 0 0 15px rgb(220,220,220);
}

#act_smallbox_medium img{
    height:135px;
}

#act_smallbox_medium_plus{
    height:210px;
    box-shadow: 0 0 15px rgb(220,220,220);
}

#act_smallbox_medium_plus img{
    height:150px;
}
/*fin des activités*/

footer{
    background-color: #F2F2F2;
}

footer ul{
    list-style-type: none;
    padding-left: 0;
}

/* Spécifications Version PC*/
@media screen and (min-width: 1345px)
{
    header, #centre{
        margin: 0;
        padding-left: 50px; /*high res*/
        padding-right: 50px;/*hight res*/
    }

    header{
        display: flex;
        justify-content: space-between;
    }

    #logo{
        padding-top: 50px;
    }

    nav{
        display: flex  ;
    }

    nav li, #inscription{
        padding: 50px 20px;
    }
    /*liseré bleu au dessus d'Hébergement et Activité*/
    nav li:hover{
        border-top: 2px solid #0065FC;
    }
    
    /*filtre*/
    #mini_bouton_search{
        display: none;
    }

    #hbgtspop{
        background-color: #F2F2F2;
        padding: 45px 0 30px 0; /*PC*/
        border-radius: 20px;
        width:65.67%;
    }

    #hbgtspop h1{
        margin : 0 0 20px 40px;
    }

    #heberg_box{
        height: 430px;
        margin-top:0;
        margin-bottom:40px;
        margin-left:40px;
        margin-right:40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .single_heberg_box{
        height: 200px; /* PC ET MOBILES*/
        width: 31.25%;
        background-color: white;
        margin-bottom: 30px;
        border-radius: 20px;
        box-shadow: 0 0 15px rgb(220,220,220);
    }

    #show_more{
        margin-left: 40px;}

    #mostpop{
        width: 31.3%;
        border-radius: 20px;
    }

    #mostpop_boxwrap{
        margin-left: 35px;
        margin-right:40px;
        height:500px;
    }

    #most_pop_title{
        margin : 45px 40px 0 35px;
    }

    .mostpop_box{
        margin-bottom: 30px;
    }

    .act_small_box_wrap{
        width:22%;
        height:445px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    footer{
        height:140px;
        padding: 50px;
        display: flex;
    }

    footer ul{
        padding-right: 225px; /*Probablement pas la bonne solution*/
    }
}

/******* TABLETTE **********************/
/*Spec tablette jusqu'à 1024px */
@media all and (max-width:1344px)
{
    /*Header */
    header{
        display: flex;
        flex-wrap: wrap;
    }

    #logo{
        padding-left:3.5%;
        padding-top: 30px;
        padding-bottom:30px;
    }

    nav {
        width:100%;
        padding-bottom: 12px;
        display: flex;
    }

    nav:last-child{
        text-align: right;
    }

    nav ul{
        padding-left: 0;
        width:100%;
    }

    nav li{
        width: 50%;
        margin-top: 0;
    }

    nav li:first-child{
        text-align: center;
        padding-bottom: 12px;
        border-bottom: 2px solid #F2F2F2;
    }

    nav li:last-child{
        text-align: center;
        padding-bottom: 12px;
        border-bottom: 2px solid #F2F2F2;
    }

    nav li:hover
    {
        border-bottom: 2px solid #0065FC;
    }

    #inscription{
        position: absolute;
        right:4.5%;
        top: 40px;
    }

    /***CENTRE ***/
    #centre{
        padding-top: 40px;
    }

    /***RECHERCHER**/
    #barre_recherche{
        margin-bottom: 20px;
    }

    #bouton_search{
        display: none;
    }
 
    #mini_bouton_search{
        width:50px;
        height:50px;
        background-color: #0065FC;
        color: white;
        border: none;
        border-radius: 10px;
    }

    #mini_bouton_search:hover{
        cursor:pointer;
        background-color: #DEEBFF;
        color:#0065FC;
    }


    /*FILTRES*/

    #global_filtres{
        padding-left: 3.5%;
    }
    #filtre_wrap{
        margin-bottom: 15px;
    }

    .filtre{
        margin-bottom: 15px;
        margin-right:10px;
    }

    /*INFOS*/


    /*** HEBERGEMENT***/
    #hebergement{
        height: 1200px;
        flex-direction: column-reverse;
        padding-bottom: 1px;
    }

    #mostpop, #hbgtspop{
        padding-left: 3.5%;
        padding-right:3.5%;
        padding-bottom: 20px;
    }

    .mostpop_box{
        margin-bottom: 15px;
        height: 165px;
    }

    .mostpop_img{
        height:155px;            
    }

    #hbgtspop{
        flex-wrap: wrap;
    }

    .single_heberg_box{ /* A TESTER ET EVENTUELLEMENT MODIFIER*/
        width: 31%;
        margin-bottom: 15px;
    } 

    /*ACTIVITES*/

    #act{
        padding-left: 3.5%;
        padding-right : 3.5%;
        padding-bottom: 25px;
    }


    #act h2{
        margin-bottom:35px;
        margin-top:30px;
    }

    #act_box_wrap{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;
    }

    .act_big_box, .act_small_box_wrap{
        width:48%;
        margin-bottom: 20px;
    }

    #act_smallbox_medium,  #act_smallbox_small, #act_smallbox_large, #act_smallbox_medium_plus{
        width: 100%;
    }


    .act_big_box{
        height:445px;
        margin-bottom: 25px;
    }

    .act_small_box_wrap #act_smallbox_medium,  #act_smallbox_small, #act_smallbox_large, #act_smallbox_medium_plus{
        height: 210px;
        margin-bottom: 25px;
    }

    .act_small_box_wrap #act_smallbox_medium img,  #act_smallbox_small img, #act_smallbox_large img, #act_smallbox_medium_plus img{
        height: 150px;
    }


    /**FOOTER TABLETTE*/

    footer{
        padding-top: 30px;
        padding-bottom: 10px;
        padding-left: 3.5%;
        padding-right:4%;
        display: flex;
        justify-content: space-between;
    }
}

@media all and (min-width: 1294px) and (max-width: 1344px){
    /*reorganiser rapidement le mostpop*:margin-bottom*/

    #hebergement{
        height:855px;
    }
    #mostpop_boxwrap{
        flex-direction: row;
        justify-content: space-between;
    }

    .mostpop_box{
        width: 32%;
    }

    .mostpop_box h4{
        width: 90%;
    }

}

@media all and (max-width: 1039px) {
    /* Les filtres se réorganisent à partir de 1024px*/  
    
    #filtre_title{
        width:100%;
    }
  
}

/*Spécifications Tablette jusqu'à 768px*/
@media all and (min-width:567px) and (max-width: 814px) /*pour les basoins du test*/
{
    /*Hébergement <768px*/
    #hebergement{
        height: 1400px;
    }

    .single_heberg_box{
        width: 47%;
        margin-bottom: 15px;
    }
     /*Activités low-res*/
    #act_box_wrap{
        flex-direction: column;
        margin-bottom: 0;
    }

    #act_box_wrap div{
        width:100%;
    }

    .act_big_box{
        height:210px;
        margin-bottom: 25px;
    }

    .act_small_box_wrap #act_smallbox_medium,  #act_smallbox_small, #act_smallbox_large, #act_smallbox_medium_plus{
        height: 210px;
        margin-bottom: 25px;
    }

    #act_box_wrap img{
        height:150px; /*toutes les images font la même taille sur version mobile, autant utiliser la div au dessus*/
    }

}

/*Spécification petites rés*/
@media all and (max-width:566px)
{
    /* Header - spécifique version mobile*/
    #logo{
        padding-left:20px;
    }

    #inscription{
        position: absolute;
        right:20px;
        top: 40px;
    } 
    /*CENTRE - spécifique mobile*/

    /*Recherche*/

    /* Filtres <480px*/

    #global_filtres{
        padding-left: 20px;
    }

    #filtre_wrap{
        margin-bottom: 15px;
    }
    .filtre{
        margin-bottom: 15px;
        margin-right:10px;
    }


    /* Info <480px */
    #info{padding-right: 25px;}

    #info_round{
        height: 50%;
    }

    /*Les hébergements les plus populaires sont présentés en premier*/
    #hebergement{
        height: 2040px;
        flex-direction: column-reverse;
        padding-bottom: 14px;
    }

    #hbgtspop{
        padding: 45px 20px 0 20px;
        height: 1420px;
    }

    #hbgtspop h1{
        margin : 0 20px 20px 20px;
    }

    /*box qui contient toutes les bulles CA MERDE ICI ZZZZ*/
    #heberg_box{
        height: 1300px;
        margin-top:0;
        margin-bottom: 35px;
        flex-direction: column;
        justify-content: stretch;
    }

    .single_heberg_box{
        box-shadow: 0 0 15px rgb(220,220,220);
        width:100%;
    }

    #mostpop{
        height:500px;
        padding: 40px 20px;
    }

    #mostpop_boxwrap{
        height:455px;
    }

    #most_pop_title{
        margin : 0;
    }

    .mostpop_box{
        margin-bottom: 10px;
        height:145px;
    }

    .mostpop_img{
        height: 135px;
    }
    /*Activités low-res*/

    #act h2{
        margin-bottom:35px;
        margin-top:30px;
    }

    #act_box_wrap{
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }

    #act_box_wrap div{
        width:100%;
    }

    .act_big_box{
        height:190px;
        margin-bottom: 25px;
    }

    .act_small_box_wrap #act_smallbox_medium,  #act_smallbox_small, #act_smallbox_large, #act_smallbox_medium_plus{
        height: 190px;
        margin-bottom: 25px;
    }

    #act_box_wrap img{
        height:130px; /*toutes les images font la même taille sur version mobile, autant utiliser la div au dessus*/
    }
    /*Footer Low res*/
    footer{
        padding-bottom:1px;
        padding-left:20px;
        padding-top: 45px;
    }

    footer ul{
        margin: 0;
    }

    .footer_sous_liste{
        margin-bottom: 50px;
    } /*A FINIR BIP BIP*/
}

/*Centre GLOBAL*/

#main_title{
    font-family: 'Raleway Bold', sans-serif;
    margin-bottom: 10px;
    margin-top: 0;
}

/*Recherche par ville */

#location_icon{
    padding-left:20px;
    padding-right:20px;
    border-radius: 10px 0 0 10px;
    background-color: #F2F2F2;
    padding-top: 15px;  
}

form input{
    font-weight: bold;
    padding-left: 15px;
    height: 46px;
    border-left: none;
    border-right: none;
    border-bottom: 1px #F2F2F2 solid;
    border-top: 1px #F2F2F2 solid;

    font-family: 'Raleway Bold', sans-serif;
    font-size: 1em;
}

#bouton_search{ 
    color:white;
    background-color: #0065FC;
    border-radius: 0 10px 10px 0;
    border-style: none;
    font-weight: bold;
    padding-left:20px;
    padding-right:15px;
    height: 50px;
    font-family: 'Raleway Bold', sans-serif;
}

/*GLOBAL*/
#bouton_search:hover{
    background-color: #DEEBFF;
    color:#0065FC;
    cursor: pointer;
}

/*Recherche par filtre*/

#filtre_title{
    margin-right:30px;
    font-family: 'Raleway Bold', sans-serif;
}

.filtre p{
    font-family: 'Raleway Bold', sans-serif;
}


.filtre a{
    display: flex;
}

.filtre:hover{
    background-color: #0065FC;
    color: white;
    cursor: pointer;
}

.round_blue_bck{
    width:50px;
    height:50px;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 25px;

    /*aligne l'icone à l'intérieur*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.filtre p{
    padding-left: 15px;
    padding-right: 20px;
}

/*Logements dispo dans cette ville */
#info{
    display: flex;
    margin-bottom: 40px;
}

#info p{
    margin:0; 
    padding-top: 2px;
}

#info_round{  
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    padding: 1px 6px;
    margin-top:0;
    margin-right: 10px;
    color: #0065FC;
}

/****/

/*IL Y A UN TRUC A CHANGER LA*/
.img_hbg{
    height:115px;
    margin-top:5px;
    text-align: center;
    margin-bottom: 0;
}

.single_heberg_box img{
    height:115px;
    width:95%; /*Pas trouvé autre mais ce n'est pas la bonne façon de faire*/
    border-radius: 15px 15px 0 0;
}
/*JUSTQUE LA*/

.text_heberg_box{
    padding-top: 10px;
    padding-left: 15px;
    height: 70px;
}

.text_heberg_box p, h4{ 
    margin-top: 0;
    margin-bottom: 5px;
}

/*Ca c'est global donc ça ne bouge pas */
.texte_gras{
    font-weight: bold;
}

.blue_star{
    color: #0065FC;
}

.grey_star{
    color: rgb(220,220,220);
}

/*Partie Les plus populaire - pas besoin de modification*/

.mostpop_img img{
    width:100%;
    height: 100%;
    border-radius: 17px 0 0 17px;
}

.mostpop_box_text{
  padding: 20px 20px 15px 20px;
}

.mostpop_box_text h4{
    margin-bottom:10px;
    font-family: 'Raleway Bold', sans-serif;
}

.mostpop_box_text p{
    margin:0 0 25px 0;
}

/*Activités*/

#act div{
    border-radius: 20px;
}

#act img{
    width:100%; /*Les images ont toutes besoin de s'étirer à 100% de la largeur de l'élément dans cette section*/
    border-radius: 20px 20px 0 0;
}

#act p{
    margin: 0; /*GLOBAL*/
}

#act h4{
    margin:0; /*GLOBAL*/
    padding-top: 20px;
    padding-left: 20px;
}

/*Footer*/

footer h3{
    margin-top:0;
    margin-bottom:25px;
}

footer li{
    padding-bottom: 15px;
}